.Profile{
   
    display: flex;
    
}
.ProfileRight{
    flex: 9;
}
.ProfileBottom{
    display: flex;
    justify-content: space-between;
}
.ProfileTop{
    margin: 20px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ProfileWrapper{
    width: 100%;
    height: 300px;
    position: relative;
}
.coverimage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Profileimage{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    top: 200px;
  
    left: 41%;
    border-radius: 50%;

}
.ProfileInfo{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.UserName{
    font-weight: bold;
}