.message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
   
   
}
.messagewrapper{
    display: flex;
  
   
}
.textbox{
padding: 10px;
border-radius: 20px;
background-color: rgb(102, 52, 241);
max-width: 300px;
font-size: 12px;
color: white;


}
.timetext{
    color: gray;
    font-size: 12px;
    
}
.own {
    align-items:flex-end ;

}
.own .textbox{
    background-color: rgb(226, 225, 225);
    color: black;
}