.messenger{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
}
.ChatMenu{
    flex: 3.5;
}
.ChatBox{
    flex: 5.5;
}
.Chatonline{
    flex: 3;
}
.ChatMenuwrapper ,.chatboxwrapper ,.chatonlinewrapper{
    padding: 10px;
 height: 100%;
}
.inputarea{
    border: none;
    border-bottom: 1px solid rgb(206, 204, 204);
    
    outline: none;
}
.ChatBoxbottom{
    margin-top: 5px;

display: flex;
justify-content: space-between;
align-items: center;

}
.chatboxwrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    position: relative;
}
.ChatBoxtop{
    height: 100%;
 overflow-y: scroll;
    position: sticky;
    padding-right: 10px;
   
}
.chatinput{
    width: 450px;
    height: 100px;
    outline: none;

}
.chatbutton{
    width: 70px;
    height: 30px;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.openconversation{
    text-align: center;
    font-size: 50px;
    color: rgb(184, 184, 184);
    position: absolute;
    top: 100px;
}